<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944864296604-8h6rc4i3apfh2oo1p78mhbkquokv6rjd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944864296604-8h6rc4i3apfh2oo1p78mhbkquokv6rjd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>944864296604-sa6md3lthogma03hn3c8iqb2vg2e53qj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAOdux9Px3EmxzeXUfGkIwy7w7R4RWxwuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>944864296604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.societybuddy</string>
	<key>PROJECT_ID</key>
	<string>societymanagement-4450b</string>
	<key>STORAGE_BUCKET</key>
	<string>societymanagement-4450b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944864296604:ios:c17ce174915abb46e9f759</string>
	<key>DATABASE_URL</key>
	<string>https://societymanagement-4450b.firebaseio.com</string>
</dict>
</plist>